<div class="box">
    <section class="container portfolio">
        <div class="top">
            <span>Portfolio Performance</span>
            <span class="view-more">view more</span>
        </div>
        <div class="content">
            <div class="item">
                <div class="item-icon">😊</div>
                <div class="item-info">
                    <span>Cash Deposits</span>
                    <span class="item-info-view">1,7M</span>
                    <div class="item-info-more">
                        <span>></span>
                        <span>54.1%</span>
                        <span>less earnings</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-icon">😊</div>
                <div class="item-info">
                    <span>Cash Deposits</span>
                    <span class="item-info-view">1,7M</span>
                    <div class="item-info-more">
                        <span>></span>
                        <span>54.1%</span>
                        <span>less earnings</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-icon">😊</div>
                <div class="item-info">
                    <span>Cash Deposits</span>
                    <span class="item-info-view">1,7M</span>
                    <div class="item-info-more">
                        <span>></span>
                        <span>54.1%</span>
                        <span>less earnings</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <span class="btn">View Complete Report</span>
        </div>
    </section>
</div>

<div class="box">
    <section class="technical container">
        <div class="top">
            <span>Technical Support</span>
            <button>
                <mat-icon>...</mat-icon>
            </button>
        </div>
        <div class="content">
            <mat-card class="example-card" style="padding-bottom: 0;">
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                alt="Photo of a Shiba Inu"> -->
                <div style="overflow: hidden; width: 100%; padding-bottom: 70%; position: relative; ">
                    <span style="position: absolute; font-size: 19rem;">😊</span>
                </div>
                <mat-card-content>
                    <span>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                        Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                        originally
                        bred for hunting.
                    </span>
                </mat-card-content>
            </mat-card>
        </div>
    </section>
    <section colspan="1" class="timeline container">
        <div class="top">
            <span>Timeline Example</span>
            <span class="view-more">view more</span>
        </div>
        <div class="content">
            <div class="item">
                <div class="item-icon">😊</div>
                <div class="item-info">
                    <span>Cash Deposits</span>
                    <span class="item-info-view">1,7M</span>
                    <div class="item-info-more">
                        <span>></span>
                        <span>54.1%</span>
                        <span>less earnings</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-icon">😊</div>
                <div class="item-info">
                    <span>Cash Deposits</span>
                    <span class="item-info-view">1,7M</span>
                    <div class="item-info-more">
                        <span>></span>
                        <span>54.1%</span>
                        <span>less earnings</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-icon">😊</div>
                <div class="item-info">
                    <span>Cash Deposits</span>
                    <span class="item-info-view">1,7M</span>
                    <div class="item-info-more">
                        <span>></span>
                        <span>54.1%</span>
                        <span>less earnings</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <span class="btn">View Complete Report</span>
        </div>
    </section>
</div>